body {
    margin: 0;
    color: #333;
    background-color: #fafafa;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    padding: 0;
}
.coverpic{
    width:100%;
}


/* .iframe_frame{
    width: 50%;
    margin:auto;
    height: fit-content;
} */
.projects p{
    font-size: 1.5em;
}
.tableOfPics{
    border-radius: 10px;
    width:50%;
}
.projects{
    max-width: 1000px;
    width: 70%;
    margin: auto;
}
.projects img:not(#jumbo), .projects table{
    width: 100%;
}
#jumbo{
    width: 50%;
    margin: 0 auto;
}

iframe{
    width:80%;
    margin: 0 auto;
    right: 0;
    padding-left: 10%;
    border: none;
}
table img{
    width:100%;
}

#links-resume-end {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    font-weight: 800;
    font-size: 40px;
    border-radius: 5px;
    text-decoration: none;
}

#links-resume {
    background-color: #1a73e8;
    color: white;
    font-weight: 800;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#links-resume:hover {
    font-weight: bold;
    background-color: #0c5db4;
    ;
    color: #ffffff;
    transition: 50ms;
}

#links-resume {
    position: fixed;
    right: 24px;
}

/* #links-resume-end:hover {
    font-size: 45px;
} */

.resume-end {
    text-align: center;
    margin:auto;
}
.materials{
    margin:auto;
    width: 50%;
    display:flex;
    flex:content;
}

.topHeading p {
    margin-bottom: 10px;
    margin-top: 10px;
    align-content: middle;
    top: 0;
    font-size: 1.5em;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding:0;
    margin: 0;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.75s ease-in-out;
    padding: 4px;
    font-weight: 500;
}

.navbar ul li a:hover {
    background-color: rgb(224, 224, 224);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(175, 175, 175);
    background: #f0f0f0;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #1a73e8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0c5db4;
}

body a {
    color: white;
    text-decoration: underline;
    font-size: 13px;
}

.topHeading {
    position: sticky;
    display: block;

    top: 0;
    height: fit-content;
    font-size: 20px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    z-index: 5;
    overflow: hidden;
}

footer {
    background-color: #ffffff;
    color: #777;
    padding: 10px;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}

footer p {
    margin: 0;
    font-size: 12px;
}

#icon {
    max-width: 50px;
    padding: 0;
    margin: 0;
    opacity: 0.6;
}

#icon:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

@media only screen and (max-width:1395px) {
    body {
        overflow-x: hidden;
    }
}

@media only screen and (max-width:964px) {
    body {
        overflow-x: hidden;
    }
}

@media only screen and (max-width:430px) {
    body {
        overflow-x: hidden;
    }
}

.random_space {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 768px) {
    .projects-category {
        width: 100%;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        width: 80%;
        text-align: center;
    }
}

@media only screen and (max-width:1395px) {
    body {
        overflow-x: hidden;
    }

    .topHeading {
        font-size: 1.1em;
        line-height: 1.1em;
    }

    .topHeading a {
        text-decoration: none;
    }
}

@media only screen and (max-width:964px) {
    body {
        overflow-x: hidden;
    }

    .topHeading {
        font-size: 1.1em;
        line-height: 1.1em;
        margin: 0;
    }

    .topHeading a,
    #links,
    #links-resume {
        font-size: 16px;
    }
}

@media only screen and (max-width:430px) {
    #scrollething {
        font-size: 15px;
        line-height: 0.7em;
    }

}

.about-me {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.about-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
}

.bio {
    max-width: 600px;
}

.bio h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.bio p {
    font-size: 1.2em;
    line-height: 1.6em;
}

.skills {
    background-color: rgba(138, 138, 138, 0.459);
    padding: 50px 20px;
    margin-top: 50px;
    text-align: center;
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.skill {
    width: 350px;
    margin-bottom: 30px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.skill h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.skill-bar {
    height: 10px;
    border-radius: 5px;
}

.ninety {
    width: 90%;
}

.eighty {
    width: 80%;
}

.seventy {
    width: 75%;
}

.skill #other{
    background-color: #61dafb;
}
.skill #software{
    background-color: #e34c26;
}
.skill #language{
    background-color: #fffb00;
}